<!DOCTYPE html>
<html>
<body>
<br>
<ol style="margin-left: 250px;">
  <div class="center"><li><a href="Questions" style="color: red;"><img src="https://image.shutterstock.com/image-vector/html-logo-600w-452205691.jpg" alt="logo" width="90">
    HTML OnlineTest</a></li></div><br>
  <div class="center"><li><a href="CSS" style="color: red;"><img src="https://w7.pngwing.com/pngs/855/603/png-transparent-cascading-style-sheets-learning-android-text-logo-css-thumbnail.png" alt="logo" width="90">
    CSS OnlineTest</a></li></div><br>
  <div class="center"><li><a href="javascript" style="color: red;"><img src="https://p.kindpng.com/picc/s/171-1718046_javascript-programming-language-logo-hd-png-download.png" alt="logo" width="90">
    javascript OnlineTest</a></li></div><br>
</ol>

</body>
</html>


